.container {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e96e50;
  background-image: radial-gradient(#e28d50, #e96e50);
  margin-top: -50px;
  margin-bottom: 50px;
  padding: 0px 0px;
}

.input {
  height: 45px;
  max-width: 300px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 45px 45px 45px 45px;
  font-size: 18px;
  box-shadow: none;
  margin-bottom: 100px;
}
